streamlit
pandas
numpy<2.0.0
scipy==1.17.1
smart_open
bertopic
sentence-transformers
umap-learn
hdbscan
transformers
torch
wordcloud
matplotlib
pillow==9.5.0
plotly==5.17.0
Cython
nltk
Sastrawi
gensim
gradio