streamlit
pandas
numpy>=1.24.0
scipy>=1.13.0
smart_open
bertopic
sentence-transformers
umap-learn
hdbscan
transformers
torch
wordcloud
matplotlib
pillow>=11.0.0
plotly>=5.17.0
Cython
nltk
Sastrawi
gradio
gensim==4.3.2